body {

    margin: 0;
    padding: 0;
}

.topnav {
    width: 100%;
    height: 90px;
    overflow: hidden;
    background-color: white;
    position: fixed;

}

.topnav #myLinks {
    position: fixed;
    width: 35%;
    height: 100%;
    margin: 90px 0px 0px 0px;
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);


}


.topnav a.text {
    color: black;
    margin-top: 30px;
    padding: 30px 0px -10px 0px;
    text-decoration: none;
    font-size: 9px;
    display: block;
    text-align: center;
    font-family: "Mukta";
}


.topnav a {
    padding: 7px;
    text-decoration: none;
    display: block;
}

.topnav a.icon {
    margin: 30px 0px 0px 10px;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.active {
    text-align: center;
    margin: 25px;
    background-color: white;
    color: black;
}

.active-1 {
    width: 40%;
}

a.icon:hover {
    padding: 35px 0px 30px 10px;
    margin: 5px;
    background-color: white;
}

a:hover {
    background-color: darkgrey;
    color: black;
}



p {
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 4px;
}

h1 {
    text-align: right;
    font-size: 8px;
    color: gray;
    letter-spacing: 1px;
}

h2 {
    font-size: 12px;
    margin-top: 20px;
    color: black;
    text-align: left;
    letter-spacing: 3px;
    font-family: "Source Serif Pro";

}

h3 {
    font-size: 7px;
    color: gray;
    text-align: left;
    letter-spacing: 3px;
    margin: 25px 0px 0px 0px;
    font-family:"Karla";
}

h4 {
    font-size: 8px;
    color: grey;
    text-align: left;
    letter-spacing: 1px;
}

h5 {
    font-size: 9px;
    color: black;
    text-align: left;
    letter-spacing: 1.5px;
    margin: 10px 0px 0px 0px;
    font-family: "Source Serif Pro";
}

.img1{
    width:110%;
}

.img2{
    width: 145%;
}

.img3{
    width: 145%;
}

.events {
    height: 100vh;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0px 40px 0px 40px;


    grid-template-areas:

        "e-1 e-1 e-1 e-1 e-1 e-1 e-1 e-1 e-1 e-1"

        "i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1"
        "i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1"
        "i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1"
        "i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1 i-1"


        ". . . . . . . . . ."
        ". . . . . . . . . ."
        "i-2 i-2 i-2 i-2 . . i-3 i-3 i-3 i-3"
        "i-2 i-2 i-2 i-2 . . i-3 i-3 i-3 i-3"
        "i-2 i-2 i-2 i-2 . . i-3 i-3 i-3 i-3"
        ". . . . . . . . . ."
        "if-1 if-1 if-1 if-1 if-1 if-1 . . . . "
        "if-1 if-1 if-1 if-1 if-1 if-1 . . . ."

        "co-1 co-1 co-1 co-1 co-1 co-1 co-1 co-1 co-1 co-1"

    ;


}

.blocks1 {
    background-color: white;
}

.blocks1 a {
    text-decoration: none;
    color: red;
}

.blocks1-event {
    grid-area: e-1;
}

.blocks1-img1 {
    grid-area: i-1;
}


.blocks1-img2 {
    grid-area: i-2;
}


.blocks1-img3 {
    grid-area: i-3;
}

.blocks1-info1 {
    grid-area: if-1;
    padding: 0px 0px 10px 0px;
}


.blocks1-copyright {
    border-top: solid grey;
    border-width: 0.5px;
    text-align: right;
    padding: 40px 0px 0px 0px;
    grid-area: co-1;
}

@media only screen and (min-width:768px) {

    .topnav #myLinks {
        width: 15%;
        height: 494px;
        padding: 40px 37px 0px 37px;
        margin: -1.5px 0px 0px 0px;
        background-color: white;
        display: none;

    }
    
      
    
    .img1{
        padding: 0px 0px 0px 170px;
        width: 60%;
        
    } 
    
     .img2{
         padding: 0px 0px 0px 90px;
        width: 100%;
    } 
    
     .img3{
         padding: 0px 0px 0px 0px;
        width: 100%;
    } 
    
    .blocks1-copyright {
    border: none;

}

    

}
    


