body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.topnav {
    height: 150px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

.topnav #myLinks {
    position: fixed;
    width: 35%;
    height: 90%;
    margin: -10px 0px 0px 0px;
    background-color: white;
    display: none;

}

.topnav a.text {
    color: black;
    margin-top: 30px;
    padding: 30px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}


.topnav a {
    padding: 13px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav a.icon {
    margin: 57px;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.active {
    text-align: center;
    margin: 40px;
    background-color: white;
    color: black;
}

a.icon:hover {
    margin: 57px;
    background-color: white;
}

a:hover {
    background-color: darkgrey;
    color: black;
}


.navigation-bar{
    height: 150px;
    background: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap: 5px; 
    padding: 20px;
    
     grid-template-areas: 
                ". . . . . . . "
                "my-1-1 . my-1 my-1 my-1 . . "
                ". . my-1 my-1 my-1 . . "
                ". . . . . . . "
                ;
            
    align-items: center;
          

}



.blocks1{
        background-color: white;
}
    
.blocks1-navigation {  
        grid-area: my-1;
            
        }
    
.blocks1-logo{
        grid-area: my-1-1;
}



.homepage-image-1 {
    object-fit: contain;
    height: 100%;
    background: white;
}

h2 {
    text-align: left;
    color: black;
    margin: 80px 175px 60px 175px;
    letter-spacing: 4px;
    font-size: 28px;
}

h1 {
    text-align: right;
    font-size: 17px;
    color: gray;
    letter-spacing: 1px;
}

p {
    font-size: 25px;
    margin: 0px 175px;
    line-height: 220%;
}

.biography {
    height: 70vh;
    background: white;
}

.footer {
    height: 200px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 0px;
    margin: 0px 120px 0px 120px;
    border-top: solid grey;
    border-width: 1px;

    grid-template-areas:
        ". . . . . . . . ."
        ". . . . . . . my-1 my-2"
        ". . my-3 my-3 my-3 my-3 my-3 my-3 my-3 "
        ". . . . . . . . . "
    ;

    align-items: right;


}

.blocks {
    background-color: white;
}

.blocks-media-1 {
    grid-area: my-1;

}

.blocks-media-2 {

    grid-area: my-2;

}

.blocks-copyright {
    grid-area: my-3;
}

@media screen and (min-width:300px) and (max-width:600px){
    
}